* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


header,
nav {
  width: 100%;
  background-color: #070e0e;
  color: white;

}

nav {
  padding: 10px;
}

nav ul {
  list-style: none;
  padding: 5px 10px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

}

ul li {
  flex: 1;
  cursor: pointer;
  padding: 1.25rem;
  border: 2px solid #fddf3e;
  border-radius: 20px;
  text-align: center;
  transition: .3s;
}

ul li:hover {
  background-color: #191919;
}

ul li.active,
ul li:active {
  border-color: yellow;
  box-shadow: 1px 1px 5px 5px yellow;
}




div {
  width: 500px;
  margin: 20px auto;
  padding: 20px;
  border-radius: .625rem;
  background-color: #ddd;
  color: black;
  text-align: center;
  font-size: 4rem;
  user-select: none;
}

div:not(:first-child){
  display: none;
}